name: Deploy to production

on:
  push:
    branches:
      - 'main'
      - '*'
      - 'deployment'
  workflow_call:

jobs:
  deployment:
    name: Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Pull and start docker images
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          port: ${{ secrets.PROD_PORT }}
          password: ${{ secrets.PROD_PASSWORD }}
          script: git clone https://github.com/Caramele-dulci-si-roz/todo-service; cd todo-service; git checkout deployment; git pull; docker-compose -f docker-compose.production.yml up -d